@*Modal Delete*@
<div class="modal fade" id="modal_delete_project">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title">Notice</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" ><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
				<input class="form-control" type="text" name="ProjectId" id="InfoProjectId" hidden />
				<p>If you delete project, all task will be delete too, Are you sure delete <span id="InfoProjectName"></span>?</p>
			</div>
				<div class="modal-footer justify-content-center">
				<button class="btn btn-primary" onclick="DeleteProject();">Delete</button> <button class="btn btn-light" onclick="CancelProject();">Close</button>
				</div>
			</div>
		</div>
	</div>