@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    if (User.Identity?.IsAuthenticated == false)
    {
        Layout = "_Layout";
    }
}

<section id="content-types">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@Model.ErrorDescription</h4>
                </div>
                <hr />
                <div class="card-body pt-0">
                    <p class="card-text">
                        <h6>An error occurred while processing your request.</h6>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        <br />
                        <strong>Request Path:</strong> <code><a href="@( Model.RequestPath)">@Model.RequestPath</a></code>
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>